body {
  color: #333;
  text-transform: uppercase;
  background-image: radial-gradient(circle at 50% 0, #1f3757, #131537), linear-gradient(#ffffff80, #ffffff80), url('../images/Desktop---Step-1.jpg');
  background-position: 0 0, 0 0, 50% 0;
  background-size: auto, auto, auto;
  font-family: Barlow Semi Condensed, sans-serif;
  font-size: 14px;
  line-height: 1.2em;
}

.container-main {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 990px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  display: flex;
}

.container-gameprez {
  border: 2px solid #979797;
  border-radius: 10px;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  max-width: 700px;
  height: 150px;
  margin-bottom: 60px;
  padding: 20px 20px 20px 30px;
  display: flex;
}

.text-gameprez {
  color: #fff;
  justify-content: center;
  align-items: center;
  width: 165px;
  font-size: 40px;
  font-weight: 700;
  line-height: 33px;
  display: flex;
}

.score-block {
  background-color: #fff;
  border-radius: 5px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 210px;
  padding: 12px 20px;
  display: flex;
}

.score-text {
  color: #2a45c2;
  letter-spacing: 2.5px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
}

.score-number {
  color: #565468;
  font-size: 64px;
  font-weight: 700;
  line-height: 50px;
}

.close-overlay {
  z-index: 9;
  opacity: .25;
  cursor: pointer;
  position: absolute;
  inset: 0;
}

.rules-header {
  color: #3b4262;
  margin-bottom: 50px;
  font-size: 35px;
  font-weight: 700;
  line-height: 40px;
}

.modal-scroll {
  width: 100%;
  min-height: 100vh;
  padding: 50px 50px 100px;
  position: absolute;
}

.rules-accent {
  background-color: #00a22b;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.hide-me-overlay {
  z-index: 8888;
  background-color: #000000bf;
  display: none;
  position: fixed;
  inset: 0;
  overflow: auto;
}

.container-additionnal-buttons {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  display: flex;
  position: absolute;
  inset: auto 30px 30px auto;
}

.rules-container {
  z-index: 10;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  min-height: 400px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 20px 50px;
  font-weight: 300;
  display: block;
  position: relative;
  overflow: hidden;
}

.small-button {
  color: #fff;
  text-align: center;
  letter-spacing: 2.5px;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 7px;
  padding: 8px 35px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.6em;
  text-decoration: none;
  transition: background-color .5s cubic-bezier(.645, .045, .355, 1);
}

.small-button:hover {
  color: #3b4262;
  background-color: #fff;
  box-shadow: 0 10px 20px -5px #1810635c;
}

.body {
  background-image: radial-gradient(circle at 50% 0, #1f3757, #131537);
  line-height: 1.5em;
}

.container-game {
  grid-column-gap: 33px;
  grid-row-gap: 33px;
  background-image: url('../images/triangle.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: scroll;
  flex-flow: wrap;
  place-content: flex-start center;
  align-items: flex-start;
  width: 100%;
  max-width: 600px;
  display: flex;
}

.container-game.comparison {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  background-image: none;
  justify-content: center;
  align-items: stretch;
  max-width: 990px;
  display: none;
}

.container-game.choosing {
  display: flex;
}

.circle-cta {
  cursor: pointer;
  background-color: #4664f4;
  border-radius: 999px;
  justify-content: center;
  align-items: center;
  width: 198px;
  height: 210px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 10px;
  transition: transform .3s cubic-bezier(.645, .045, .355, 1);
  display: flex;
  transform: scale(1);
  box-shadow: inset 0 -10px #2a45c2;
}

.circle-cta:hover {
  transform: scale(1.2);
}

.circle-cta.scissors {
  background-color: #eb9f0e;
  box-shadow: inset 0 -10px #c76c1b;
}

.circle-cta.paper {
  background-color: #db2e4d;
  box-shadow: inset 0 -10px #9d1634;
}

.circle-cta.big-circle {
  width: 238px;
  height: 252px;
}

.circle-cta.big-circle:hover {
  transform: none;
}

.circle-cta.big-circle.win.rock {
  box-shadow: 0 0 0 180px #ffffff08, 0 0 0 120px #ffffff08, 0 0 0 60px #ffffff08, inset 0 -10px #2a45c2;
}
.circle-cta.big-circle.win.scissors {
  box-shadow: 0 0 0 180px #ffffff08, 0 0 0 120px #ffffff08, 0 0 0 60px #ffffff08, inset 0 -10px #c76c1b;
}
.circle-cta.big-circle.win.paper {
  box-shadow: 0 0 0 180px #ffffff08, 0 0 0 120px #ffffff08, 0 0 0 60px #ffffff08, inset 0 -10px #9d1634;
}

.white-circle {
  background-color: #fff;
  background-image: url('../images/rock.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  border-radius: 999px;
  justify-content: center;
  align-items: center;
  width: 152px;
  height: 152px;
  display: flex;
  box-shadow: inset 0 8px #d8ddf1;
}

.white-circle.scissors {
  background-image: url('../images/scissors.svg');
}

.white-circle.paper {
  background-image: url('../images/paper.svg');
}

.white-circle.big-circle {
  width: 182px;
  height: 182px;
}

.container-choice {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  color: #fff;
  letter-spacing: 3px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  display: flex;
}

.loading-div {
  background-color: #0000001a;
  border-radius: 50%;
  width: 238px;
  height: 242px;
  display: flex;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.7;
  }
}

.loading-div.pulsing {
  animation: pulse 1s infinite;
}

.container-annouce {
  color: #fff;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: none;
  opacity: 0; /* Start hidden */
  transform: translateY(20px); /* Slide in effect */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transition */
}

.container-annouce.show {
  opacity: 1; /* Make visible */
  transform: translateY(0); /* Reset position */
}

.computer-choice-display {
  display: none;
}

.play-again-button {
  color: #3b4262;
  letter-spacing: 2.5px;
  background-color: #fff;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 48px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  display: flex;
}

.play-again-button:hover {
  color: #db2e4d;
}

.text-announce {
  margin-bottom: 20px;
  font-size: 56px;
  font-weight: 700;
  line-height: 61px;
}

.text-you-picked {
  text-align: center;
}

@media screen and (max-width: 991px) {
  .modal-scroll {
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .body {
    background-image: radial-gradient(circle at 50% 0, #1f3757, #131537);
  }

  .container-game.comparison {
    grid-column-gap: 35px;
    grid-row-gap: 35px;
  }

  .circle-cta.big-circle {
    width: 190px;
    height: 202px;
  }

  .circle-cta.big-circle.win {
    box-shadow: 0 0 0 120px #ffffff08, 0 0 0 80px #ffffff08, 0 0 0 40px #ffffff08, inset 0 -10px #2a45c2;
  }

  .white-circle.big-circle {
    width: 146px;
    height: 146px;
  }

  .loading-div {
    width: 190px;
    height: 202px;
  }
  

  .play-again-button {
    width: 175px;
  }
}

@media screen and (max-width: 767px) {
  .container-main {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .container-gameprez {
    max-width: 400px;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .text-gameprez {
    width: 150px;
    font-size: 30px;
    line-height: 25px;
  }

  .score-block {
    justify-content: center;
    align-items: center;
    width: auto;
    height: 92px;
  }

  .score-text {
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
  }

  .score-number {
    font-size: 55px;
    line-height: 45px;
  }

  .rules-header {
    font-size: 30px;
  }

  .modal-scroll {
    overflow: auto;
  }

  .rules-container {
    flex-direction: column;
    margin-bottom: 70px;
    padding-top: 50px;
    padding-left: 7%;
    padding-right: 7%;
  }

  .body {
    background-image: radial-gradient(circle at 50% 0, #1f3757, #131537);
  }

  .container-game {
    background-position: 50% 200%;
  }

  .container-game.comparison {
    grid-column-gap: 55px;
    grid-row-gap: 55px;
    flex-flow: wrap;
    justify-content: center;
    align-items: stretch;
  }

  .container-game.choosing {
    max-width: 560px;
  }

  .circle-cta {
    width: 130px;
    height: 133px;
    padding-bottom: 8px;
    box-shadow: inset 0 -7px #2a45c2;
  }

  .circle-cta.scissors {
    box-shadow: inset 0 -7px #c76c1b;
  }

  .circle-cta.paper {
    box-shadow: inset 0 -7px #9d1634;
  }

  .circle-cta.big-circle {
    width: 170px;
    height: 170px;
    margin-left: 0;
    margin-right: 0;
  }

  .circle-cta.big-circle.win {
    box-shadow: 0 0 0 90px #ffffff08, 0 0 0 60px #ffffff08, 0 0 0 30px #ffffff08, inset 0 -10px #2a45c2;
  }

  .white-circle {
    background-size: auto 50px;
    width: 100px;
    height: 100px;
    box-shadow: inset 0 6px #d8ddf1;
  }

  .white-circle.big-circle {
    width: 130px;
    height: 127px;
  }

  .loading-div {
    width: 170px;
    height: 170px;
  }


  .container-choice {
    grid-column-gap: 36px;
    grid-row-gap: 36px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .container-annouce {
    order: 1;
  }

  .text-you-picked {
    order: 1;
    font-size: 20px;
    line-height: 20px;
  }
}

@media screen and (max-width: 479px) {
  .container-main {
    min-width: 320px;
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
  }

  .container-gameprez {
    padding: 10px 15px 10px 20px;
  }

  .text-gameprez {
    width: 80px;
    font-size: 20px;
    line-height: 15px;
  }

  .score-block {
    height: 67px;
  }

  .score-text {
    font-size: 10px;
    line-height: 15px;
  }

  .score-number {
    font-size: 35px;
    line-height: 35px;
  }

  .container-additionnal-buttons {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    bottom: 10px;
    right: auto;
  }

  .rules-container {
    margin-bottom: 70px;
    padding-bottom: 0;
    padding-left: 5%;
    padding-right: 5%;
  }

  .small-button {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    line-height: 20px;
  }

  .body {
    background-image: radial-gradient(circle at 50% 0, #1f3757, #131537);
  }

  .container-game.comparison {
    grid-column-gap: 23px;
    grid-row-gap: 23px;
  }

  .container-game.choosing {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    background-position: 50% 80%;
    background-size: 220px;
    flex-flow: wrap;
    max-width: 400px;
  }

  .circle-cta {
    width: 105px;
    height: 107px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 7px;
    box-shadow: inset 0 -5px #2a45c2;
  }

  .circle-cta:hover {
    transform: none;
  }

  .circle-cta.big-circle {
    width: 119px;
    height: 126px;
  }

  .white-circle {
    background-size: auto 40px;
    width: 81px;
    height: 81px;
    box-shadow: inset 0 5px #d8ddf1;
  }

  .white-circle.big-circle {
    width: 91px;
    height: 91px;
  }

  .loading-div {
    width: 119px;
    height: 126px;
  }


  .text-announce {
    font-size: 40px;
    line-height: 45px;
  }

  .text-you-picked {
    font-size: 12px;
    line-height: 14px;
  }
}


